
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi,</p>
<p>Congrate! You just created starship </p></br>
<p style="color:blue"> <%= @starship.email %> </p>
</body>
</html>


